.top-of-page {
    text-align: center;
    font-style: italic;
}

#title {
    font-size: 48px;
    background-color: beige;
    font-weight: bold;
}

#brownies-picture {
    transform: rotate(90deg);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}